html{font-size:100%;-webkit-text-size-adjust:100%;}
a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}

@media print{
*{text-shadow:none !important;color:#000 !important;background:transparent !important;box-shadow:none !important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
pre,blockquote{border:1px solid #999;page-break-inside:avoid;}
@page {margin:0.5cm;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}

strong{font-weight:bold;}
em{font-style:italic;}

h1,h2,h3{margin:10px 0;font-family:inherit;font-weight:bold;line-height:20px;color:inherit;text-rendering:optimizelegibility;}
h1,h2,h3{line-height:40px;}
h1{font-size:38.5px;}
h2{font-size:31.5px;}
h3{font-size:24.5px;}
.page-header{padding-bottom:9px;margin:20px 0 30px;border-bottom:1px solid #eeeeee;}
ul{padding:0;margin:0 0 10px 25px;}
ul ul{margin-bottom:0;}
li{line-height:20px;}

code,pre{padding:0 3px 2px;font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:12px;color:#333333;border-radius:3px;}
code{padding:2px 4px;color:#d14;background-color:#f7f7f9;border:1px solid #e1e1e8;white-space:nowrap;}
pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:20px;word-break:break-all;word-wrap:break-word;white-space:pre;white-space:pre-wrap;background-color:#f5f5f5;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.15);border-radius:4px;}
pre code{padding:0;color:inherit;white-space:pre;white-space:pre-wrap;background-color:transparent;border:0;}

a {
    color: #2a7ae2;
    text-decoration: none;
}

a:hover {
    color: #111;
    text-decoration: underline;
}

a:visited { color: #1756a9 }

article img {
  display: block;
  margin: auto;
  width: 80%;
}

blockquote {
    border-left: 5px solid #eee;
    margin: 0 0 20px;
    padding: 0 0 0 15px;
}

blockquote p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
}

body {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height:20px;
    margin: 48px 0 0;
}

footer {
    border-top: 1px solid #e8e8e8;
    color: #777;
    font-size: 13px;
    padding: 8px;
    text-align: center;
}

footer a {
    background: no-repeat;
    color: #777;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 8px;
    padding-left:20px;
}

footer a:visited { color: #777 }

header {
    background: linear-gradient(to bottom, #005da4, #003777);
    height: 48px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 332.5 278.75"><path d="M311.01 105.864L233.204 28.06c-6.626-6.626-17.47-6.626-24.096 0L92.27 144.9c-6.627 6.626-6.627 17.47 0 24.096l77.802 77.805c6.625 6.63 17.472 6.63 24.097 0l116.84-116.84c6.62-6.62 6.62-17.47 0-24.09" fill="%23fff"/><path d="M134.803 195.26c-4.284 1.516-8.894 2.344-13.7 2.344-22.645 0-41-18.355-41-41.003 0-22.64 18.355-41 41-41 4.958 0 9.71.88 14.11 2.5 0 0 13.442 2.66 24.46 23.9l29.08 56.95 41.947-83.07" fill="none" stroke="%23fff" stroke-width="41.25" stroke-linecap="round" stroke-linejoin="round"/><path d="M130.84 184.065c-3.117 1.104-6.393 1.664-9.737 1.664-16.06 0-29.126-13.07-29.126-29.13s13.066-29.13 29.126-29.13c3.452 0 6.823.59 10.022 1.76.58.21 1.176.38 1.782.5-.3-.06-.442-.1-.443-.1.355.1 8.804 2.65 16.67 17.81l29.044 56.88c2.032 3.98 6.13 6.48 10.602 6.47 4.47-.01 8.558-2.53 10.572-6.52l41.948-83.06c2.956-5.86.606-13-5.248-15.96-5.855-2.96-12.997-.61-15.952 5.25l-41.948 83.06c2.017-3.99 6.103-6.51 10.574-6.52 4.47-.01 8.57 2.49 10.603 6.47l-29.08-56.94c-13.31-25.64-30.79-29.76-32.73-30.15.6.12 1.2.29 1.78.5-5.83-2.14-11.95-3.22-18.2-3.22-29.16 0-52.88 23.72-52.88 52.88 0 29.16 23.72 52.88 52.87 52.88 6.05 0 11.99-1.02 17.66-3.03 6.18-2.19 9.42-8.98 7.23-15.16-2.19-6.18-8.98-9.42-15.16-7.23" fill="%23253a74"/></svg>') no-repeat;
    display: table;
    height: 48px;
    margin: auto;
    max-width: 740px;
}

nav a {
    color: #fff !important;
    display: table-cell;
    padding: 0 15px;
    vertical-align: middle;
}

nav a:first-child {
    font-size: 20px;
    padding-left: 58px;
    width: 100%;
}

nav a:first-child:hover {
    background: none;
}

nav a:hover,
nav a.active {
    background: #5bb543;
    text-decoration: none;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.home a {
    display: block;
    font-size: 24px;
}

.home ul {
    list-style: none;
    margin-left: 0;
}

.home li {
    margin-bottom: 30px;
}

.navbar .nav {
  float: right;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination ul {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin: 0;
}

.pagination li {
    display: inline;
}

.pagination a {
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #f5f5f5;
}

.pagination .disabled a {
    background: transparent;
    color: #999;
}

.pagination li:first-child > * {
    border-radius: 4px 0 0 4px;
    border-width: 1px;
}

.pagination li:last-child > * {
    border-radius: 0 4px 4px 0;
}

.tags {
    margin-left: 0;
}

.tags li {
    display: inline;
    padding: 5px;
}

#android {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 64 64"><path d="M56 24c-2.2 0-4 1.8-4 4v16c0 2.2 1.8 4 4 4s4-1.8 4-4v-16c0-2.2-1.8-4-4-4zM8 24c-2.2 0-4 1.8-4 4v16c0 2.2 1.8 4 4 4s4-1.8 4-4v-16c0-2.2-1.8-4-4-4zM14 46c0 3.314 2.686 6 6 6v0 8c0 2.2 1.8 4 4 4s4-1.8 4-4v-8h8v8c0 2.2 1.8 4 4 4s4-1.8 4-4v-8c3.314 0 6-2.686 6-6v-22h-36v22z" fill="%23777"></path><path d="M49.889 20c-0.607-5.493-3.688-10.237-8.101-13.103l2.002-4.003c0.494-0.988 0.093-2.189-0.894-2.683s-2.189-0.093-2.683 0.894l-2.009 4.018-0.522-0.207c-1.785-0.594-3.695-0.916-5.68-0.916s-3.895 0.322-5.681 0.916l-0.522 0.207-2.009-4.018c-0.494-0.988-1.695-1.388-2.683-0.894s-1.388 1.695-0.895 2.683l2.001 4.003c-4.413 2.866-7.494 7.61-8.101 13.103v2h35.889v-2h-0.111zM26 16c-1.105 0-2-0.896-2-2 0-1.103 0.893-1.997 1.996-2 0.002 0 0.004 0 0.006 0s0.002-0 0.003-0c1.102 0.003 1.995 0.897 1.995 2 0 1.104-0.895 2-2 2zM38 16c-1.105 0-2-0.896-2-2 0-1.103 0.893-1.997 1.995-2 0.001 0 0.002 0 0.003 0 0.002 0 0.004-0 0.006-0 1.102 0.002 1.996 0.897 1.996 2 0 1.104-0.895 2-2 2z" fill="%23777"></path></svg>');
}

#cpan {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 64 64"><circle r="13.156" cy="280.315" cx="453.302" fill="%23777" transform="translate(-403.511 -266)"/><circle r="13.157" cy="280.315" cx="417.721" fill="%23777" transform="translate(-403.511 -266)"/><circle r="13.156" cy="315.685" cx="453.302" fill="%23777" transform="translate(-403.511 -266)"/><circle r="13.157" cy="315.685" cx="417.721" fill="%23777" transform="translate(-403.511 -266)"/></svg>');
}

#email {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 64 64"><path d="M58 8h-52c-3.3 0-6 2.7-6 6v40c0 3.3 2.7 6 6 6h52c3.3 0 6-2.7 6-6v-40c0-3.3-2.7-6-6-6zM24.921 34.398l-16.921 13.181v-31.353l16.921 18.172zM11.024 16h41.953l-20.976 15.75-20.976-15.75zM25.581 35.106l6.419 6.894 6.419-6.894 13.16 16.894h-39.158l13.16-16.894zM39.079 34.398l16.921-18.172v31.353l-16.921-13.181z" fill="%23777"></path></svg>');
}

#fb {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 64 64"><path fill="%23777" d="M53.334 0h-42.669c-5.891 0-10.665 4.776-10.665 10.668v42.664c0 5.892 4.775 10.668 10.665 10.668h21.334v-28h-8v-8h8v-6c0-5.523 4.477-10 10-10h10v8h-10c-1.105 0-2 0.895-2 2v6h11l-2 8h-9v28h13.334c5.891 0 10.666-4.776 10.666-10.668v-42.664c0-5.892-4.775-10.668-10.666-10.668z"></path></svg>');
}

#git {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 64 64"><path fill="%23777" d="M32.001 0.79c-17.671 0-32.001 14.326-32.001 32 0 14.138 9.169 26.133 21.884 30.365 1.599 0.296 2.187-0.694 2.187-1.539 0-0.763-0.030-3.284-0.044-5.958-8.903 1.936-10.781-3.776-10.781-3.776-1.455-3.699-3.553-4.682-3.553-4.682-2.903-1.986 0.219-1.945 0.219-1.945 3.213 0.226 4.905 3.298 4.905 3.298 2.855 4.892 7.486 3.477 9.313 2.66 0.287-2.068 1.116-3.48 2.032-4.279-7.108-0.809-14.58-3.553-14.58-15.815 0-3.494 1.25-6.348 3.297-8.589-0.332-0.806-1.428-4.061 0.309-8.469 0 0 2.688-0.86 8.802 3.281 2.552-0.709 5.29-1.065 8.010-1.077 2.719 0.012 5.459 0.368 8.016 1.077 6.108-4.14 8.791-3.281 8.791-3.281 1.742 4.408 0.647 7.663 0.315 8.469 2.051 2.241 3.293 5.096 3.293 8.589 0 12.291-7.486 14.997-14.612 15.789 1.148 0.993 2.17 2.94 2.17 5.926 0 4.282-0.037 7.728-0.037 8.782 0 0.852 0.576 1.85 2.198 1.535 12.708-4.236 21.865-16.227 21.865-30.361 0-17.674-14.327-32-32-32z"></path></svg>');
}

#google {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 64 64"><path d="M0.050 54.354c-0.015-0.158-0.028-0.317-0.036-0.477 0.008 0.16 0.021 0.319 0.036 0.477zM14.744 35.322c5.751 0.171 9.608-5.794 8.616-13.325-0.993-7.53-6.462-13.573-12.213-13.745-5.752-0.171-9.609 5.593-8.616 13.125 0.993 7.529 6.46 13.773 12.212 13.945zM64 16v-5.332c0-5.867-4.799-10.668-10.666-10.668h-42.666c-5.767 0-10.501 4.639-10.66 10.37 3.648-3.212 8.708-5.895 13.93-5.895 5.582 0 22.328 0 22.328 0l-4.997 4.226h-7.079c4.696 1.8 7.197 7.258 7.197 12.858 0 4.703-2.613 8.747-6.305 11.623-3.603 2.806-4.286 3.982-4.286 6.367 0 2.036 3.859 5.5 5.877 6.924 5.899 4.159 7.807 8.020 7.807 14.466 0 1.027-0.128 2.052-0.379 3.060h19.234c5.867 0 10.666-4.797 10.666-10.668v-33.332h-12v12h-4v-12h-12v-4h12v-12h4v12h12zM11.618 47.871c1.351 0 2.589-0.037 3.871-0.037-1.697-1.646-3.039-3.663-3.039-6.149 0-1.475 0.473-2.896 1.133-4.157-0.674 0.048-1.362 0.062-2.070 0.062-4.647 0-8.594-1.505-11.513-3.991v4.203l0 12.608c3.34-1.586 7.306-2.539 11.617-2.539zM0.214 55.454c-0.070-0.341-0.123-0.688-0.159-1.040 0.036 0.352 0.089 0.699 0.159 1.040zM28.466 59.553c-0.941-3.675-4.278-5.498-8.93-8.723-1.692-0.546-3.556-0.867-5.556-0.888-5.601-0.060-10.819 2.184-13.764 5.523 0.995 4.857 5.315 8.535 10.452 8.535h17.903c0.113-0.696 0.169-1.414 0.169-2.152 0-0.783-0.096-1.55-0.273-2.295z" fill="%23777"></path></svg>');
}

#ios {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 64 64"><path d="M49.469 34.006c-0.081-8.105 6.61-11.992 6.909-12.185-3.76-5.501-9.616-6.255-11.703-6.342-4.984-0.505-9.725 2.934-12.254 2.934-2.523 0-6.426-2.86-10.559-2.784-5.432 0.081-10.441 3.159-13.238 8.024-5.644 9.794-1.445 24.303 4.056 32.245 2.688 3.888 5.893 8.255 10.102 8.099 4.053-0.162 5.585-2.622 10.485-2.622s6.277 2.622 10.566 2.542c4.361-0.081 7.124-3.962 9.793-7.862 3.087-4.511 4.358-8.877 4.433-9.102-0.097-0.044-8.504-3.265-8.588-12.946zM41.41 10.22c2.234-2.71 3.741-6.47 3.33-10.22-3.217 0.131-7.117 2.143-9.426 4.847-2.071 2.398-3.884 6.227-3.398 9.902 3.592 0.28 7.258-1.825 9.494-4.529z" fill="%23777"></path></svg>');
}

#linkedin {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 64 64"><path d="M53.25 0h-42.5c-5.912 0-10.75 4.838-10.75 10.75v42.5c0 5.913 4.838 10.75 10.75 10.75h42.5c5.913 0 10.75-4.837 10.75-10.75v-42.5c0-5.912-4.837-10.75-10.75-10.75zM24 52h-8v-28h8v28zM20 20c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4zM52 52h-8v-16c0-2.209-1.791-4-4-4s-4 1.791-4 4v16h-8v-28h8v4.967c1.65-2.267 4.172-4.967 7-4.967 4.971 0 9 4.477 9 10v18z" fill="%23777"></path></svg>');
}

#twitter {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 64 64"><path fill="%23777" d="M64 12.151c-2.355 1.044-4.885 1.75-7.541 2.067 2.711-1.625 4.793-4.198 5.773-7.264-2.537 1.505-5.347 2.597-8.338 3.186-2.395-2.552-5.808-4.146-9.584-4.146-7.251 0-13.13 5.879-13.13 13.13 0 1.029 0.116 2.031 0.34 2.992-10.912-0.548-20.588-5.775-27.064-13.719-1.13 1.939-1.778 4.195-1.778 6.601 0 4.556 2.318 8.575 5.841 10.929-2.152-0.068-4.177-0.659-5.947-1.642-0.001 0.055-0.001 0.11-0.001 0.165 0 6.362 4.526 11.668 10.533 12.875-1.102 0.3-2.262 0.461-3.459 0.461-0.846 0-1.669-0.083-2.47-0.236 1.671 5.216 6.52 9.013 12.266 9.118-4.494 3.522-10.155 5.621-16.307 5.621-1.060 0-2.105-0.062-3.132-0.184 5.811 3.726 12.713 5.9 20.128 5.9 24.151 0 37.358-20.008 37.358-37.359 0-0.569-0.013-1.136-0.038-1.699 2.566-1.851 4.792-4.164 6.552-6.797z"></path></svg>');
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, p, blockquote, pre, ul {
  margin-bottom: 15px; }

ul { margin-left: 30px }

h1, h2, h3 {
    font-weight: 300
}

.wrapper {
    max-width: 740px;
    margin: auto;
    padding: 0 30px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: 770px;
        padding: 0 15px;
    }
}

/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.post-meta {
  font-size: 14px;
  color: #828282; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-subtitle {
  font-size: 30px;
  font-style: italic;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-subtitle {
      font-size: 26px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }

/* syntax highlighting */
.hll { background-color: #ffffcc }
.c  { color: #0099FF; font-style: italic }
.err { color: #AA0000; background-color: #FFAAAA }
.k, .kc, .kd, .kn, .kr { color: #006699; font-weight: bold }
.o  { color: #555555 }
.c1, .cm { color: #0099FF; font-style: italic }
.cp { color: #009999 }
.cs { color: #0099FF; font-weight: bold; font-style: italic }
.gd { background-color: #FFCCCC; border: 1px solid #CC0000 }
.ge { font-style: italic }
.gr { color: #FF0000 }
.gh { color: #003300; font-weight: bold }
.gi { background-color: #CCFFCC; border: 1px solid #00CC00 }
.go { color: #AAAAAA }
.gp { color: #000099; font-weight: bold }
.gs { font-weight: bold }
.gu { color: #003300; font-weight: bold }
.gt { color: #99CC66 }
.kp { color: #006699 }
.kt { color: #007788; font-weight: bold }
.m  { color: #FF6600 }
.na { color: #330099 }
.nb { color: #336666 }
.nc { color: #00AA88; font-weight: bold }
.no { color: #336600 }
.nd { color: #9999FF }
.ni { color: #999999; font-weight: bold }
.ne { color: #CC0000; font-weight: bold }
.nf { color: #CC00FF }
.nl { color: #9999FF }
.nn { color: #00CCFF; font-weight: bold }
.nt { color: #330099; font-weight: bold }
.nv { color: #003333 }
.ow { color: #000000; font-weight: bold }
.w  { color: #bbbbbb }
.mf, .mh, .mi, .mo { color: #FF6600 }
.s, .sb, .sc, .sd, .s1, .s2, .se, .sh, .sx { color: #CC3300 }
.sd { font-style: italic }
.se { font-weight: bold }
.si { color: #AA0000 }
.sr { color: #33AAAA }
.ss { color: #FFCC33 }
.bp { color: #336666 }
.vc, .vg, ,.vi { color: #003333 }
.il { color: #FF6600 }
